body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
}

#container {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex; /* "turning it on" */
}

#container div { /* side note: if using flex-direction: column; (or column-reverse), the divs will NOT be 200px tall. They will compress to fit into the container */
    width: 200px;
    height: 200px;
}

/* The Flex Model 
    flex-direction: row;
        Main Axis   horizontal           
        Cross Axis  vertical
        (left to right)

    flex-direction: reverse;
        Main Axis   horizontal           
        Cross Axis  vertical
        (right to left) 
        
    flex-direction: column;
        Main Axis   vertical           
        Cross Axis  horizontal
        (top to bottom)  
        
    flex-direction: column-reverse;
        Main Axis   vertical           
        Cross Axis  horizontal
        (bottom to top)
*/